{% extends 'main_template.html' %}

{% block extra_css %}
<link rel="stylesheet" href="/text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="/text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
{% endblock %}

{% block content %}
{% load static %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">股票列表</h6>
    </div>
    <div class="card-body">
        {% load django_tables2 %}
        {% render_table stock_list_table %}
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready( function() {
        $('#stock_list_table').DataTable({
            "language": {
                "lengthMenu":   "每頁顯示 _MENU_ 筆資料",
                "zeroRecords":  "沒有符合的結果",
                "search":       "搜尋:",
                "info":         "目前是第 _PAGE_ 頁，共 _PAGES_ 頁",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                }
            }
        });
    } );
</script>
{% endblock %}
